<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <title>Inicio</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Inicio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/sitemap">Mapa de Sitio</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Consola
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/consola/oferta-educativa">Administrar Ofertas</a></li>
                <li><a class="dropdown-item" href="/consola/divisiones">Administrar Divisiones</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/consola/oferta-educativa/add">Agregar Oferta</a></li>
                <li><a class="dropdown-item" href="/consola/divisiones/add">Agregar División</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Aspirante
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/adm">Admisiones</a></li>
                <li><a class="dropdown-item" href="/oferta-educativa">Oferta Educativa</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/other">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
          <form method="post" data-th-action="@{/logout}" class="d-flex">
            <a class="nav-link text-light" href="#" onclick="this.parentNode.submit();">Logout</a>
          </form>
        </div>
      </div>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>