<!DOCTYPE html>
<html lang="en">
<body>
<h2>Encontrar elementos con document.forms</h2>

<form id="frml" action="#">
    Nombre: <input type="text" name="fname" value="Jonathan"><br>
    Apellido: <input type="text" name="lname" value="Cruz Cruz"><br>
    <input type="submit" value="Submit">
</form>

<p>Da clic a "Probar" para mostrar el valor de cada elemento en el formulario</p>
<button onclick="myFunction()">Probar</button>

<p id="demo"></p>

<script>
    function myFunction() {
        var x = document.forms["frml"];
        var text = "";
        var i;
        for (i = 0; i < x.length ;i++) {
            text += x.elements[i].value + "<br>";
        }
        document.getElementById("demo").innerHTML = text;
    }
</script>

</body>
</html>