<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <title>Oferta Educativa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <nav th:replace="fragments/fragment :: menu"></nav>

    <main class="container mt-5">
        <section>
            <h1>Oferta Educativa Administrativa</h1>
            <p>Sección administrativa para el control de la oferta educativa.</p>
            
            <div class="d-flex justify-content-end mb-3">
                <button sec:authorize="hasAnyRole('ADMIN')" onclick="abrirModalOferta()" type="button" class="btn btn-outline-secondary ms-2">
                    <i class="bi bi-plus-circle"></i> Agregar
                </button>
                <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/consola/oferta-educativa/add}" class="btn btn-outline-success ms-2">
                    <i class="bi bi-plus-circle"></i> Agregar por Formulario
                </a>
            </div>

                        <div class="table-responsive shadow-sm rounded">
                            <table class="table table-hover align-middle">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th class="text-center">Modalidad</th>
                                        <th class="text-center">Imagen</th>
                                        <th class="text-center">Division</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:id="'row-' + ${oferta.id}" th:each="oferta : ${ofertas}">
                                        <td th:text="${oferta.id}" class="fw-bold"></td>
                                        <td th:text="${oferta.nombreOferta}"></td>
                                        <td class="text-center" th:text="${oferta.modalidad}"></td>
                                        <td class="text-center">
                                            <img th:src="@{{img}(img=${oferta.imagen})}" alt="ofertaEducativa" style="width: 80px; height: 65px; object-fit: cover;" class="rounded shadow-sm"/>
                                        </td>
                                        <td class="text-center" th:text="${oferta.division != null ? oferta.division.nombre : '-'}"></td>
                                        
                                        <td class="text-center">
                                            <div class="btn-group" role="group">
                                                <a  sec:authorize="hasAnyRole('ADMIN', 'CORDINADOR', 'EDITOR')"
                                                class="btn btn-outline-warning ms-2"
                                                th:onclick="abrirModalOferta([[${oferta.id}]])"
                                                title="Editar">
                                                <i class="bi bi-pencil"></i>
                                                </a>
                                                <a sec:authorize="hasAnyRole('ADMIN', 'CORDINADOR')" th:href="@{/consola/oferta-educativa/delete/{id}(id=${oferta.id})}" 
                                                class="btn btn-outline-danger ms-2" 
                                                onclick="return confirm('¿Estás seguro de eliminar esta oferta?')" 
                                                title="Eliminar">
                                                <i class="bi bi-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    
    <div sec:authorize="hasAnyRole('ADMIN', 'CORDINADOR', 'EDITOR')" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="ofertaForm" class="needs-validation" novalidate>
<div class="mb-3">
<input type='hidden' id='id' name='id'>
</div>
<div class="mb-3">
<label for="nombreOferta" class="form-label">Nombre de la oferta</label>
<input type="text" class="form-control" id="nombreOferta" name="nombreOferta" placeholder="Ingrese el nombre de la oferta" required>
<div class="invalid-feedback">Por favor ingrese el nombre de la oferta.</div>
</div>
<div class="mb-3">
<label for="modalidad" class="form-label">Modalidad</label>
<input type="text" class="form-control" id="modalidad" name="modalidad" placeholder="Ingrese el nombre de la modalidad">
</div>
<div class="mb-3">
<label for="imagen" class="form-label">Imagen</label>
<input type="text" class="form-control" id="imagen" name="imagen" placeholder="Ingrese la URL de la imagen" required>
<div class="invalid-feedback">Por favor ingrese la URL de la imagen.</div>
</div>
<div class="mb-3">
<label for="division" class="form-label">División</label>
<select id="division" name="division" class="form-control" required>
    <option value="" selected>Selecciona una división</option>
    <option th:each="division : ${divisiones}"
            th:value="${division.id}"
            th:text="${division.nombre}">
    </option>
</select>
<div class="invalid-feedback">Por favor seleccione una división.</div>
</div>
<div id="alertaError" class="alert alert-danger d-none" role="alert"></div>
<div class="modal-footer">
<button type="submit" class="btn btn-primary" onclick="guardarOfertaEducativa(event)">Guardar</button>
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
</div>
</form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script th:src="@{/js/ofertas.js}"></script>
</body>
</html>